<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="PortName" value="COM2"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="Handshake" value="None"/>
    <add key="Parity" value="None"/>
    <add key="StopBits" value="One"/>
    <add key="ReadTimeOut" value="1000"/>
    <add key="WriteTimeOut" value="1000"/>
    <add key="Source" value="c:\temp\source"/>
    <add key="Destination" value="c:\temp\destination"/>
    <add key="NewFileName" value="NewFile"/>
  </appSettings>
</configuration>
